#storeSection {
    padding: 2.5em 1.2em;
    position: relative;
    height: fit-content;
    color: #93a55d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1em;
}

.productCard {
    width: 250px;
    height: 300px;
    background-image: linear-gradient(to bottom right, #f5f2e5, #FBFAF6);
    display: block;
    border-radius: 15px;
    margin: 10px;
    padding: 20px 10px;
    text-decoration: none;
    color: #93a55d;
    box-shadow: 2px 2px 5px black;
}

.productCard div {
    background-color: white;
    border-radius: 15px;
    width: 175px;
    height: 175px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;

}

.productCard img {
    width: 100%;
    cursor: pointer;
}

.productCard h5 {
    font-size: 20px;
    margin-top: 9%;
    cursor: pointer;
}

.productCard h6 {
    font-size: 18px;
    margin-top: 5%;
    cursor: pointer;
}

#storeBtn {
    background-color: #93a55d;
    border: none;
    border-radius: 0.6em;
    font-weight: bolder;
    color: #FBFAF6;
    font-size: 1.3rem;
    width: 7em;
    height: 3.5em;
    display: block;
    position: relative;
    margin-top: 1.2em;
}


@media screen and (min-width:1385px) {
    .productCard {
        width: 300px;
        height: 350px;
    }

    .productCard div {
        width: 225px;
        height: 225px;
    }
}

@media screen and (min-width:1950px) {
    .productCard {
        width: 400px;
        height: 500px;
    }

    .productCard div {
        width: 325px;
        height: 325px;
    }

    .productCard h5{
        font-size: 25px;
    }

    .productCard h6{
        font-size: 23px;
    }
}

@media screen and (min-width:2135px) {
    .productCard {
        width: 450px;
        height: 550px;
    }

    .productCard div {
        width: 375px;
        height: 375px;
    }
}

@media screen and (max-width:580px) {
    .productCard {
        width: 200px;
        height: 250px;
    }

    .productCard div {
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width:480px) {
    .productCard {
        width: 150px;
        height: 200px;
    }

    .productCard div {
        width: 90px;
        height: 90px;
    }

    .productCard h5{
        font-size: 15px;
    }

    .productCard h6{
        font-size: 13px;
    }

    #storeSection {
        padding: 2.5em 0.5em;
    }
}

@media screen and (max-width:355px) {
    .productCard {
        width: 100px;
        height: 150px;
    }

    .productCard div {
        width: 60px;
        height: 60px;
    }

    .productCard h5{
        font-size: 12px;
    }

    .productCard h6{
        font-size: 10px;
    }
}