@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: roboto;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #fffaf4;
}

button, a {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.heart {
    color: rgb(255, 39, 39);
    animation-duration: 1s;
    animation-name: heartbeats;
    animation-iteration-count: infinite;
}

@keyframes heartbeats {
    0% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.h2-paw {
    font-size: 30px;
}

.Typewriter__wrapper {
    margin-right: 0px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
}

.Typewriter__wrapper span {
    margin-right: 0px;
    font-size: 28px;
    font-weight: 900;
    color: #93a55d;
}

.Typewriter {
    width: 500px;
}

input , select:hover {
    cursor: pointer;
}

@media screen and (min-width:2000px) {
    .Typewriter__wrapper {
        font-size: 35px;
    }
    
    .Typewriter__wrapper span {
        font-size: 40px;
    }

    .Typewriter {
        width: 850px;
    }
}

@media screen and (max-width:1075px) {
    .Typewriter__wrapper {
        font-size: 16px;
    }
    
    .Typewriter__wrapper span {
        font-size: 22px;
    }

    .Typewriter {
        width: 400px;
    }
}

@media screen and (max-width:925px) {
    .Typewriter__wrapper {
        font-size: 12px;
    }
    
    .Typewriter__wrapper span {
        font-size: 18px;
    }

    .Typewriter {
        width: 300px;
    }
}

@media screen and (max-width:770px) {
    .Typewriter__wrapper {
        font-size: 9px;
    }
    
    .Typewriter__wrapper span {
        font-size: 15px;
    }

    .Typewriter {
        width: 225px;
    }
}