.hero{
    background-image: url(../../assets/about-us-hero.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 15em;
    padding-left: 100px;
}

.title {
    text-align: left;
    color: #fbfaf6;
    font-size: 45px;
    font-weight: 1000;
}

.slogan {
    color: #fbfaf6;
    font-weight: 850;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 100px;
    line-height: 50px;
}

.span {
    font-weight: 850;
    font-size: 30px;
    margin-left: 60px;
}

.aboutUsPaw {
    margin: 0px 5px;
}

@media screen and (max-width:600px) {
    .hero {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slogan {
        margin-left: 0;
    }

    .span {
        margin-left: 0;
    }
}

@media screen and (max-width:400px) {
    .title {
        font-size: 40px;
    }

    .slogan {
        font-size: 25px;
    }

    .span {
        font-size: 25px;
    }
}

@media screen and (max-width:300px) {
    .title {
        font-size: 30px;
    }

    .slogan {
        font-size: 15px;
    }

    .span {
        font-size: 15px;
    }
}